@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.bg__1 {
  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(217, 209, 138, 1) 100%
  );
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.navlogo {
  font-family: "Kanit", sans-serif;
}
